<h1 class="center">Listing all users</h1>


<div class = "digg_pagination ">
    <%= will_paginate @users %>
</div>

<% @users.each do |user| %>

<div class = "container">
    
    <div class="row">
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col center">
            <div class="card card-body bg-light">
                <%= link_to gravatar_for(user), user_path(user) %>
                <div class="article-title">
                <%= link_to user.user , user_path(user) %>
                </div>
            <div class="article-body">
            <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
            </div>
            <% if logged_in? && current_user.admin %>
              <%= link_to "Delete user", user_path(user), method: :delete, 
                    data: {confirm: "Delete user and user's articles? "} %>
            <% end %>
        </div>
    </div>

    </div>

    <div class="row">
        <div class="col">
        </div>
    </div>

</div>

<br>
<% end %>


<div class = "digg_pagination ">
    <%= will_paginate @users %>
</div>