<h1 align="center">Welcome to <%= @user.user %>'s page</h1>

<div class = "center">
    <%= gravatar_for @user%> 
</div>

<br>

<div class = "digg_pagination ">
    <%= will_paginate @articles %>
</div>

<%= render 'articles/article', obj: @articles %>

<div class = "digg_pagination ">
    <%= will_paginate @articles %>
</div>